{% extends "auctions/layout.html" %}


{% block body %}
    <div id="index"> 
        <h2>Create Listing</h2>
    </div>
    
        <div class="container">
            <form enctype="multipart/form-data" method="post">
                {% csrf_token %}
                <br>
                {{form.title}} <br><br>
                {{form.choice}} <br><br>
                {{form.description}} <br>
                {{form.image}}  <br><br>
                {{form.price}} <br>
                <br>
                <input type="submit" value="Create">       
            </form>
        </div>
    

{% endblock %}