{% extends "auctions/layout.html" %}

{% block body %}
    
    {%if all %}
    <div id="index">
        <h2>All Listings</h2>
    </div>
    {%else%}
        <div id="index">
            <h2>Active Listings</h2>
        </div>
    {%endif%}
    {% for item in items%}
        
        <a class="cont" href="{% url 'details' item.id%}" title="More details for {{item.title}}">
            <form>
            <h3> {{item.title}} </h3>
            {% if item.on_sell == False %}
                <div class="div-sold">
                    <p class="sold"> SOLD </p>
                </div>
            {%endif%}
            <p> Created on {{item.date}}  by <b>{{item.owner}}</b></p>
            <p> in <b>{{item.category}}</b></p>
            <img src="{{ item.image.url}}" alt="item" loading="lazy">
            <p> <strong> Initial price </strong> <u>{{item.price}}€</u></p>
            </form>
        </a>
    {%empty%}
        
    <div class="container">
        <h4> There arent't items in this category! </h4>
    </div>
        
    
    {%endfor%}

{% endblock %}


