{% extends "auctions/layout.html" %}

{% block body %}

    
    <div class="container">

        <h3> {{item.title}} </h3>

        {% if item.on_sell == False %}
            <div class="div-sold">
                <p class="sold"> SOLD </p>
            </div>
            
        {%endif%}

         <!-- Watchlist button -->
        {% if logged and owner == False %}
            
                {% if present %}
                    <form action="{% url 'remove' item.id %}" method="GET">
                        {% csrf_token %}
                        <input type="submit" value="Remove from watchlist" class="remove">
                    </form>
                    

            {%else%}
                {% if item.on_sell == True %}
                    <form action="{% url 'add' item.id %}" method="GET">
                        {% csrf_token %}
                        <input type="submit" value="Add to watchlist" class="button">
                    </form>
                {%endif%}
            {%endif%}
        {%endif%} 

        {%if item.on_sell == False and request.user == bid.buyer %}
            <p class="item-sold"> Congratulations! You win the item! </p>
        {%endif%}

        <form method="POST">
            {% csrf_token %}
                <p> Created on {{item.date}} by <b>{{item.owner}}</b></p>
                <p> in <b>{{item.category}}</b></p>
                <p> {{item.description}} </p>
                <img src="{{ item.image.url}}" alt="item" loading="lazy">
                <p> <strong> Initial price </strong> <u>{{item.price}}€</u></p> 
            {% if item.actual_bid == 0 %}
                <p> Actual bid <b>NOT PLACED</b></p>
            {%elif item.actual_bid > 0 and item.on_sell == True%}
                <p> Actual bid <b> {{bid.amount}} </b> € by <b>{{bid.buyer}}</b></p>
            {%else%}
                <p> Sold to <b> {{bid.buyer}}</b>  for <b>{{bid.amount}}</b>€ </p>
            {%endif%}
            
            {% if item.on_sell == True %}
                {% if logged %}
                    <p class="error">{{message}}</h4>
                    {{bid_form}}
        
            {%else%}  
                <p><a href="{% url 'login' %}">Log In</a> or <a href="{% url 'register' %}">Register</a> to place  a BID</p>
                {%endif%}  
            {%endif%}
        </form>  
            {% if owner and item.on_sell == True and item.actual_bid > 0 %}
            <form action="{% url 'sell' item.id %}">
                {% csrf_token %}
                <input type="submit" value="SELL" class="button">
            </form>
            {%endif%}           
    </div>

    <div id="index">
        <h2> COMMENTS SECTIONS </h2>
    </div>

    <div class="container">
        <form action="{% url 'add_comment' item.id %}" method="POST">
            {% csrf_token %}
        <div class='form'>
                {{comment_form}}
        </div>
            <input type="submit" value="Send comment" class="button">
        </form>
    </div>  
    <div class="comment-box">
        <div class="list-comments">
            {%for i in comments.all%}
                <div class="comment">
                    <textarea readonly class="description">{{i.description}} </textarea>
                    <span><i><b>{{i.user}}</b>, {{i.date}}</i></span>
                </div>
            {%empty%}
                <div class="container">
                    <h4>There aren't comment here!</h4>
                </div>
            {%endfor%} 
        </div>
        
        <hr>
   </div>

   

{% endblock %}